@media only screen and (max-width: 767px) {
    /*  -------------------------  override menu  --------------------------  */
    body #navmenu ul.menu li {
	padding-left: 15px;
	padding-right: 0;
	text-align: left;
    }
    body #navmenu ul.menu ul.sub-menu, #toggle_sidebar {
	display: none;
    }
    .menu_hover_custom {
	float: right;
	margin-right: 6px;
	width: 30px;
	height: 30px;
	background: url('../../images/menu_down_arrow.png') no-repeat;
	background-size: 30px 30px;
    }
    .icon {
	margin-left: 40%;
	margin-top: 10px;
	margin-bottom: 5px;
    }
    .paging li {
        padding: 6px 12px;
    }
    #sidebar {
        display: block !important;
    }
    /*  --------------------------------------------------------------------  */
}

@media only screen and (max-width: 480px) {
    /*  -------------------------  override menu  --------------------------  */
    body #menu_wrap2 #navmenu ul.menu {
	margin-left: 0;
	width: 100%;
    }
    #content .top-content {
	padding: 0;
    }
    /*  --------------------------------------------------------------------  */
}

/*  -------------------------  override menu  ------------------------------  */
#menu_wrap2 #navmenu ul.menu {
    top: 110px;
}
#menu-icon {
    margin: 0;
    padding: 6px 0;
    width: 100%;
}
/*  ------------------------------------------------------------------------  */

/* --------------  responsive 100% for facebook comment box  ---------------  */
.fb-comments,
.fb-comments > span,
.fb-comments iframe {
    width: 100% !important;
}
#share_buttons {
    clear: both;
    margin: 0 auto;
    padding-left: 8px;
    width: 100%;
}
#share_buttons > div {
    float: left;
    margin-top: 20px;
}
.fb-share-button {
    margin-right: 10px;
}
.fb-like, .fb-like * {
    max-width: 100% !important;
}
/*  ------------------------------------------------------------------------  */

/*  -------------------------------  sidebar  ------------------------------  */
#toggle_sidebar {
    float: right;
    top: 20px;
    right: 15px;
    font-size: 18px;
    font-family: UVNBachTuyet;
}
/*  ------------------------------------------------------------------------  */

/*  ---------------------------------  paging  ------------------------------  */
.paging {
    display: inline-block;
    float: left;
    margin-top: 15px;
    padding: 0;
    width: 100%;
    text-align: center;
}
.paging li {
    display: inline;
    transition: background-color .3s;
}
.paging li.active a {
    background-color: #4CAF50;
    color: #FFF;
    cursor: default;
}
.paging li:not(.active):hover a {
   background-color: #DDD;
}
.paging li a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}
.paging li.active a {
    border: 1px solid #4CAF50;
    background-color: #4CAF50;
    color: white;
}
.paging li a:hover {
    
}
/*  ------------------------------------------------------------------------  */

/*  ------------------------  override single post  ------------------------  */
.post_info {
    font-size: 13px;
    color: red;
}
.post_info a {
    font-size: 13px;
    color: blue;
}
.wp-pagenavi {
    margin: 10px 0 0 0;
}
.download_button {
    margin-bottom: 20px;
    text-align: center;
    color: blue;
}
/*  ------------------------------------------------------------------------  */

/* -----------------  background for social share icons  -------------------  */
#content .social-profiles {
    background: rgb(20, 159, 219);
}
/*  ------------------------------------------------------------------------  */

/* -----------------------  jQuery selecbox chosen  ------------------------  */
.chosen-container {
    width: 100% !important;
}
/*  ------------------------------------------------------------------------  */

/* ----------------------  embedded nhaccuatui.com  ------------------------  */
.post_info_wrap .embedded_music a {
    display: block;
    margin-bottom: 8px;
    color: rgb(23, 190, 184);
}
.post_info_wrap .embedded_music {
    margin-bottom: 50px;
    width: 300px;
    height: 370px;
}
.post_info_wrap .embedded_music object {
    width: 300px;
    height: 330px;
}
/*  ------------------------------------------------------------------------  */