@media only screen and (max-width:768px) {
    body #navmenu ul.menu li {
	padding-left: 10px;
	padding-right: 0;
	text-align: left;
    }
    body #navmenu ul.menu ul.sub-menu {
	display: none;
    }
    .menu_hover_custom {
	float: right;
	width: 20px;
	height: 20px;
	background: url('../../images/menu_down_arrow.png') no-repeat;
	background-size: 20px 20px;
    }
}

#menu-icon {
    margin: 0;
    padding: 6px 0;
    width: 100%;
}
